<div id="editFolder" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-show="!editingExisting"><span class="glyphicon glyphicon-folder"></span><span>Add Folder</span></span>
                    <span ng-show="editingExisting"><span class="glyphicon glyphicon-pencil"></span><span>Edit Folder</span></span>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" name="folderEditor">
                    <div class="form-group" ng-class="{'has-error': folderEditor.folderID.$invalid && folderEditor.folderID.$dirty}">
                        <label for="folderID"><span>Folder ID</span></label>
                        <input name="folderID" ng-readonly="editingExisting" id="folderID" class="form-control" type="text" ng-model="currentFolder.id" required unique-folder></input>
                        <p class="help-block">
                            <span ng-if="folderEditor.folderID.$valid || folderEditor.folderID.$pristine">Short identifier for the folder. Must be the same on all cluster devices.</span>
                            <span ng-if="folderEditor.folderID.$error.uniqueFolder">The folder ID must be unique.</span>
                            <span ng-if="folderEditor.folderID.$error.required && folderEditor.folderID.$dirty">The folder ID cannot be blank.</span>
                        </p>
                    </div>
                    <div ng-show="!editingExisting">When adding a new folder, keep in mind that the Folder ID is used to tie folders together between devices. They are case sensitive and must match exactly between all devices.</div>
                    <div class="form-group" ng-class="{'has-error': folderEditor.cacheSize.$invalid && folderEditor.cacheSize.$dirty}">
                        <label for="cacheSize">Cache Size</label>
                        <input name="cacheSize" id="cacheSize" class="form-control" type="text" ng-model="currentFolder.cacheSize" required humansize />
                        <p class="help-block">
                            <span ng-if="folderEditor.cacheSize.$valid || folderEditor.cacheSize.$pristine">Amount of space to dedicate to caching data on local disk for this folder.</span>
                            <span ng-if="folderEditor.cacheSize.$error.required && folderEditor.cacheSize.$dirty">The cache size cannot be unspecified.</span>
                            <span ng-if="folderEditor.cacheSize.$error.humansize">The cache size must be some specification of bytes. Try something like 512 MiB.</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="folders">Share With Devices</label>
                        <p class="help-block">Select the devices to share this folder with.</p>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="device in otherDevices()">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="currentFolder.selectedDevices[device.deviceID]"> {{deviceName(device)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left btn-sm" ng-click="deleteFolder()" ng-if="editingExisting">
                    <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;<span>Remove</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveFolder()" ng-disabled="folderEditor.$invalid">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;<span>Save</span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class="glyphicon glyphicon-times"></span>&nbsp;<span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
