<html ng-app="syncthingfuse">
<head>
    <title>Syncthing FUSE</title>
    <link rel="stylesheet" href="vendor/bootstrap-3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-3.3.5/css/bootstrap-theme.min.css" />
</head>
<body ng-controller="SyncthingFuseController">
    <div class="container">
        <div class="row">
            <h3>Syncthing FUSE</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Folders</h3>
                <div class="panel panel-default" ng-repeat="folder in config.folders">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-folder-open"></span> {{ folder.id }}</h3></div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tr>
                                <th>Maximum cache size</th>
                                <td class="text-right">{{ folder.cacheSize }}</td>
                            </tr>
                            <tr>
                                <th>Shared With</th>
                                <td class="text-right">{{sharesFolder(folder)}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">
                          <button type="button" class="btn btn-sm btn-default" ng-click="editFolder(folder)">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                          </button>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div>
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm btn-default" ng-click="addFolder()">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Folder
                        </button>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <h3>This Device</h3>
                <div class="panel panel-default" ng-repeat="deviceCfg in [thisDevice()]">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-hdd"></span> {{ deviceCfg.name }}</h3></div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tr>
                                <th>Mount Point</th>
                                <td class="text-right">{{ config.mountPoint }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">
                            <button type="button" class="btn btn-sm btn-default" ng-click="editSettings()">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Settings
                            </button>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <h3>Devices</h3>
                <div class="panel panel-default" ng-repeat="device in otherDevices()">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cloud"></span> {{ device.name }}</h3></div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tr>
                                <th>Address</th>
                                <td class="text-right">{{ device.addresses.join(", ") }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">
                            <button type="button" class="btn btn-sm btn-default" ng-click="editDevice(device)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                            </button>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div>
                    <span class="pull-right">
                        <button type="button" class="btn btn-sm btn-default" ng-click="addDevice()">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Device
                        </button>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div edit-folder-modal></div>
    <div edit-device-modal></div>
    <div edit-settings-modal></div>

    <!-- prereqs -->
    <script src="vendor/angular-1.4.7/angular.min.js"></script>
    <script src="vendor/jquery-2.1.4.min.js"></script>
    <script src="vendor/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <!-- core module -->
    <script src="js/core/module.js"></script>
    <script src="js/core/core.js"></script>
    <!-- device module -->
    <script src="js/device/module.js"></script>
    <script src="js/device/editDeviceModalDirective.js"></script>
    <script src="js/device/editSettingsModalDirective.js"></script>
    <!-- folder module -->
    <script src="js/folder/module.js"></script>
    <script src="js/folder/editFolderModalDirective.js"></script>
    <!-- ng app -->
    <script src="js/app.js"></script>
</body>
</html>
